<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9olr9JYQM3E8m8ybn7rqRg7k9ICHa2tE</string>
	<key>GCM_SENDER_ID</key>
	<string>1049389361205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rivomobile</string>
	<key>PROJECT_ID</key>
	<string>rivo-c2d3d</string>
	<key>STORAGE_BUCKET</key>
	<string>rivo-c2d3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049389361205:ios:e6fc66d53659fa2820697c</string>
</dict>
</plist>